{% extends 'base.html.twig' %}

{% block body %}
	<body class="overflow-hidden">
		<video playsinline autoplay muted loop poster="build/images/video4.mp4" id="bgvid">
			<source src="build/images/video4.mp4" type="video/mp4">
		</video>
		<h1 class="slogan position-absolute d-flex align-items-center justify-content-center">Disfruta cocinando</h1>
	</body>
{% endblock %}
