{% extends 'base.html.twig' %}

{% block title %}NombreApp{% endblock %}

{% block body %}

<header class="fixed-top p-3">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NombreApp</a>
    </div>
    <ul class="nav navbar-nav">
      <li class=""><a href="#">Recetas</a></li>
      {% if is_granted('ROLE_USER')%}
        <li class=""><a href="{{path("recipe_new")}}">Subir receta</a></li>
      {%- endif %}


    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href= "{{ path("register")}}"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
      <li><a href= "{{ path("login")}}"><span class="glyphicon glyphicon-log-in"></span> Iniciar sesión</a></li>
    </ul>
</nav>


</div>
</header>



{% endblock %}
