/* Home page */

.padding-06 {
  padding-top: 0.6rem;
}
.button-navbar {
  transition: 0.5s;
}

.button-navbar:hover {
  background-color: lightgrey;
  color: white;
}

.slogan {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: serif;
  color: aliceblue;
}

/* Login page */

.content {
  width: 100%;
  padding: 0;
  display: table;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.content1 {
  padding: 0;
  vertical-align: middle;
  display: table-cell;
  margin: 0;
}

.content2 {
  width: 600px;
  background-color: #fff;
  margin: 0 auto;
  text-align: left;
}

.button-steelblue {
  color: #fff;
  border-color: #0d6efd;
  background-color: steelblue;
  border: 1px solid transparent;
  transition: 0.5s;
}

.button-steelblue:hover {
  background-color: darkblue;
}

/* Explorer page */

.bg-beige{
  background-color: beige;
}

.image-explorer {
  opacity: 0.7;
  height: 113px;
  background: #5f5f5f;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 33.33%;
}

.bg-vegetariano {
  background-image: url("../images/vegetariano.jpg");
}

.bg-vegano {
  background-image: url("../images/vegano.jpg");
}

.bg-carnes {
  background-image: url("../images/carnes.jpg");
}

.bg-arroces {
  background-image: url("../images/arroces.jpg");
}

.bg-pasta {
  background-image: url("../images/pasta.jpg");
}

.bg-celiacos {
  background-image: url("../images/celiacos.jpg");
}

.bg-bocadillos {
  background-image: url("../images/bocadillos.jpg");
}

.bg-pescados {
  background-image: url("../images/pescados.jpg");
}

.bg-legumbres {
  background-image: url("../images/legumbres.jpg");
}

.bg-verduras {
  background-image: url("../images/verduras.jpg");
}

.bg-ensaladas {
  background-image: url("../images/ensaladas.jpg");
}

.bg-batidos {
  background-image: url("../images/batidos.jpg");
}

/* .ey{
  opacity: .7;
  background: #5f5f5f;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */
