{% extends 'base.html.twig' %}

{% block title %}Subir receta
{% endblock %}

{% block body %}

	<body class="bg-beige">
		<div class="d-flex justify-content-center">
			{{ include('recipe/form/_form.html.twig') }}
		</div>
	</body>
{% endblock %}
